<style>
  #map {
    width: 100%;
    height: 100%;
  }
</style>
<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left logo">
      <img src="{{baseURL}}/images/logo.png">
    </div>
    <nav class="menu-right pull-right">
      <li class="menu-item"><a href="#/dashboard">List</a></li>
      <li class="menu-item active"><a href="#/dashboard/map">Map</a></li>
      <li class="menu-item"><a href="#/stories">Stories</a></li>
      <li class="menu-item"><a href="#/addreport">Add Report</a></li>
      <li class="menu-item">
        <div ng-click="showOptions=!showOptions" class="menu-item-container">
          <span class="fa fa-user"></span>
          &nbsp;&nbsp;Name&nbsp;&nbsp;
          <span class="fa fa-caret-down"></span>
        </div>
        <div class="dropdown-menu clearfix" ng-show="showOptions" ng-controller="LoginController">
          <button class="btn btn-simple" ng-controller="LoginController" ng-click="logout()">
            Logout
          </button>
        </div>
      </li>
    </nav>
    <!-- <div class="pull-right" ng-controller="LoginController">
      <button ng-controller="LoginController" ng-click="logout()">Logout</button>
    </div> -->
  </div>
  
</header>
<section class="l-main-unit clearfix" ng-class="{ 'filters-hidden': showFilters }">
  <section class="filters l-column">

    <div class="filters-hide">
      <div class="filters-button" ng-click="showFilters = ! showFilters">
        <span class="fa fa-tasks"></span>
      </div>
      SHOW<BR/>
      FILTERS
    </div>

    <div class="filters-alive">
      <div class="clearfix">
        <h4 class="pull-left">Filters</h4>
        <button ng-click="showFilters = ! showFilters" ng-class="{ 'filters-hidden': showFilters }" class="filter-control-button pull-right btn-small"></button>
      </div>
      <form role="form">
        <div class="form-group">
          <div>
              <input type="search" id="search" placeholder="Search Reports" ng-model="filtercriteria.search">
          </div>
        </div>
        <div class="form-group">
            <h6 class="form-title">Sector</h6>
            <div class="checkbox checkbox-lined" ng-repeat="term in wordpress.terms.sector">
              <input id="term_{{term.id}}" type="checkbox" checklist-model="filtercriteria.sectors" checklist-value="term">
              <label for="term_{{term.id}}">{{term.name}}</label>
            </div>
            <!-- <div class="checkbox">
              <div class="dummy-check">.</div>
              <label for="blah2">Checkbox No. 2</label>
            </div>
            <div class="checkbox">
              <div class="dummy-check active">x</div>
              <label for="blah2">Checkbox No. 3</label>
            </div> -->
        </div><!--end Sector-->

        <!-- Tags -->
        <div class="form-group">
          <h6 class="form-title">Tags</h6>
          <div>
            <select chosen
                    ng-model="filter_entity_selected"
                    data-placeholder="Choose a tag"
                    ng-options="term.name for term in wordpress.terms.entity"
                    width="'100%'">
                    <option value=""></option>
            </select>
          </div>

          <div class="tag-cloud">
            <span class="tag tag-rounded tag-remove tag-positive" ng-click="removeEntityFilter(term)" ng-repeat="term in filtercriteria.entities">
              {{term.name}} <i class="fa fa-times" ></i>
            </span>
          </div>
        </div><!--end Tags-->

        <!-- Tags -->
        <div class="form-group">
          <h6 class="form-title">Verification Status</h6>
          <div class="checkbox checkbox-lined">
            <input type="checkbox" name="" id="verified" checklist-model="filtercriteria.status" checklist-value="'verified'" >
            <label for="verified">Verified</label>
          </div>
          <div class="checkbox checkbox-lined">
            <input type="checkbox" name="" id="unverified" checklist-model="filtercriteria.status" checklist-value="'unverified'">
            <label for="unverified">Unverified</label>
          </div>
        </div><!--end Tags-->

        <div class="form-group">
          <h6>Layers</h6>
          <div class="checkbox checkbox-lined">
            <input type="checkbox" name="" id="allconcessions" checklist-model="filtercriteria.layers" checklist-value="'allconcessions'" ng-change="showSelectedLayers()">
            <label for="allconcessions">All concessions</label>
          </div>
        </div>

        <!-- <div class="form-group">
          <h6 class="form-title">Date</h6>
          <div>
            <div class="six">
              <input type="date" placeholder="Start Date">
            </div>
            <div class="six">
              <input type="date" placeholder="End Date">
            </div>
          </div>
        </div> --><!--end Dates-->
      </form>
    </div>
  </section>

  <section class="map l-column">
    <div id="map"></div>
  </section>
    <div style="display: none" ng-repeat="report in (filteredReports = (reports | searchFilter:filtercriteria.search | sectorFilter:filtercriteria.sectors | entityFilter:filtercriteria.entities | verifiedStatusFilter:filtercriteria.status))"></div>
</section>


<script type="infowindow/html" id="infowindow_template">
  <div class="cartodb-infowindow">
    <div class="cartodb-popup">
      <a href="#close" class="cartodb-popup-close-button close">x</a>
       <div class="cartodb-popup-content-wrapper">
         <div class="cartodb-popup-header">
          <h4>{{report.post_title}}</h4>
         </div>
         <div class="cartodb-popup-content">
            <p>
              {{report.date_reported}} by {{report.reporter.name}}
            </p>

            <div class="horz-list text-muted">
              <i class="fa fa-camera"></i>        {{report.media.photos.length}} &nbsp;&nbsp;
              <i class="fa fa-video-camera"></i>  {{report.media.video.length}} &nbsp;&nbsp;
              <i class="fa fa-volume-up"></i>     {{report.media.audio.length}}

              <i ng-show="report.status == 'private'" class="fa fa-eye-slash"> private</i>
              <i ng-show="report.status == 'public'" class="fa fa-eye"> public</i>
              <!-- <span class="icon-camera"></span>     {{ report.media.photos.length}} &nbsp;&nbsp;
              <span class="icon-videocam"></span>   {{ report.media.video.length}} &nbsp;&nbsp;
              <span class="icon-volume-up"></span>  {{ report.media.audio.length}} &nbsp;&nbsp; -->
            </div>
            <span class="tag tag-remove tag-rounded" ng-repeat="term in report.entities">
              {{term.name}} <a href="" title="removetag" ></a>
            </span>

         </div>
       </div>
       <div class="cartodb-popup-tip-container"></div>
    </div>
  </div>
</script>
