<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left logo">
      <img src="{{baseURL}}/images/logo.png">
    </div>
    <nav class="menu-right pull-right">
      <li class="menu-item active"><a href="#/dashboard">List</a></li>
      <li class="menu-item"><a href="#/dashboard/map">Map</a></li>
      <li class="menu-item"><a href="#/stories">Stories</a></li>
      <li class="menu-item"><a href="#/addreport">Add Report</a></li>
      <li class="menu-item"><a href="#/addreport"><span class="fa fa-user"></span>&nbsp;&nbsp;Ryan&nbsp;&nbsp;<span class="fa fa-caret-down"></span></a></li>
    </nav>
    <!-- <div class="pull-right" ng-controller="LoginController">
      <button ng-controller="LoginController" ng-click="logout()">Logout</button>
    </div> -->
  </div>
  
</header>
<section class="l-main-unit clearfix" ng-class="{ 'filters-hidden': showFilters }">
  <section class="filters l-column">

    <div class="filters-hide">
      <div class="filters-button" ng-click="showFilters = ! showFilters">
        <span class="fa fa-tasks"></span>
      </div>
      SHOW<BR/>
      FILTERS
    </div>

    <div class="filters-alive">
      <div class="clearfix">
        <h4 class="pull-left">Filters</h4>
        <button ng-click="showFilters = ! showFilters" ng-class="{ 'filters-hidden': showFilters }" class="filter-control-button pull-right btn-small"></button>
      </div>
      <form role="form">
        <div class="form-group">
            <h6 class="form-title">Sector</h6>
            <div class="checkbox checkbox-round" ng-repeat="term in wordpress.terms.sector">
              <input id="term_{{term.id}}" type="checkbox" checklist-model="filtercriteria.sectors" checklist-value="term">
              <label for="term_{{term.id}}">{{term.name}}</label>
            </div>
            <!-- <div class="checkbox">
              <div class="dummy-check">.</div>
              <label for="blah2">Checkbox No. 2</label>
            </div>
            <div class="checkbox">
              <div class="dummy-check active">x</div>
              <label for="blah2">Checkbox No. 3</label>
            </div> -->
        </div><!--end Sector-->

        <!-- Tags -->
        <div class="form-group">
          <h6 class="form-title">Tags</h6>
          <div>
            <select chosen
                    ng-model="filter_entity_selected"
                    data-placeholder="Choose a tag"
                    ng-options="term.name for term in wordpress.terms.entity"
                    width="'100%'">
                    <option value=""></option>
            </select>
          </div>

          <div class="tag-cloud">
            <span class="tag tag-rounded tag-remove tag-positive" ng-click="removeEntityFilter(term)" ng-repeat="term in filtercriteria.entities">
              {{term.name}} <i class="fa fa-times" ></i>
            </span>
          </div>
        </div><!--end Tags-->

        <!-- Tags -->
        <div class="form-group">
          <h6 class="form-title">Verification Status</h6>
          <div class="checkbox checkbox-round">
            <input type="checkbox" name="" id="verified" checklist-model="filtercriteria.status" checklist-value="'verified'" >
            <label for="verified">Verified</label>
          </div>
          <div class="checkbox checkbox-round">
            <input type="checkbox" name="" id="unverified" checklist-model="filtercriteria.status" checklist-value="'unverified'">
            <label for="unverified">Unverified</label>
          </div>
        </div><!--end Tags-->

        <!-- <div class="form-group">
          <h6 class="form-title">Date</h6>
          <div>
            <div class="six">
              <input type="date" placeholder="Start Date">
            </div>
            <div class="six">
              <input type="date" placeholder="End Date">
            </div>
          </div>
        </div> --><!--end Dates-->
      </form>
    </div>
  </section>

  <section class="results l-column">
    <ul class="list"  ng-class="{ loading : working }">
      <li class="list-item">
        <div class="form-group">
          <div>
            <input type="search" id="search" placeholder="Search Reports" ng-model="filtercriteria.search">
          </div>
        </div>
      </li>
      <div class="page-loader page-loader-list" ng-show="working">
        <div class="page-loader-message">
        <div class="loader"></div>
        <h4>Loading</h4></div>
        <!-- <h4 class="page-loader-message">Loading</h4> -->
      </div>
      <li class="list-item list-clickable list-item-indicator" ng-repeat="report in reports | searchFilter:filtercriteria.search | sectorFilter:filtercriteria.sectors | entityFilter:filtercriteria.entities | verifiedStatusFilter:filtercriteria.status" ng-click="viewReport(report.ID)" ng-class="isActive(report.ID) ? 'list-item-active' : '' ">
        <a href="" class="clearfix list-item-left-indicator" ng-class="{true:'list-item-verified', false:'list-item-unverified'}[report.verified]">
          <!-- <span ng-show="report.verified" class="top-right-triangle-small triangle-good"></span>
          <span ng-show="!report.verified" class="top-right-triangle-small triangle-bad"></span> -->
          <h6 class="list-title">{{report.post_title}}</h6>
          <p class="list-content text-muted list-secondary">
            {{report.date_reported}} by {{report.reporter.name}}
          </p>
          <!-- <div class="horz-list text-muted">
            <i class="fa fa-camera"></i>        {{report.media.photos.length}} &nbsp;&nbsp;
            <i class="fa fa-video-camera"></i>  {{report.media.video.length}} &nbsp;&nbsp;
            <i class="fa fa-volume-up"></i>     {{report.media.audio.length}}

            <i ng-show="report.status == 'private'" class="fa fa-eye-slash"> private</i>
            <i ng-show="report.status == 'public'" class="fa fa-eye"> public</i>
            <!-- <span class="icon-camera"></span>     {{ report.media.photos.length}} &nbsp;&nbsp;
            <span class="icon-videocam"></span>   {{ report.media.video.length}} &nbsp;&nbsp;
            <span class="icon-volume-up"></span>  {{ report.media.audio.length}} &nbsp;&nbsp; -->
          <!--/div> -->
        </a>
      </li>
    </ul>
  </section>

  <section class="report l-column">
    <div class="placeholder" ng-if="!report">
      <div class="centered-box">
        Click a report on the left to load it here
      </div>
    </div>

    <div ng-if="report" ng-class="{ loading : working }">
      <div class="page-loader" ng-show="working">
        <div class="page-loader-message">
        <div class="loader"></div>
        <h4>Loading</h4></div>
        <!-- <h4 class="page-loader-message">Loading</h4> -->
      </div>
      <span ng-show="report.verified" class="top-right-triangle triangle-good"></span>
      <span ng-show="!report.verified" class="top-right-triangle triangle-bad"></span>

      <div class="l-padding-item">
        <div class="row l-group">
            <div class="nine">
              <div class="pull-left" style="position:relative; margin: -5px 12px 0 0;">
                <a href="" ng-click="showList=!showList" class="tag tag-small tag-edit">EDIT SECTOR</a>
                <div class="edit-pane" ng-show="showList">
                  <div class="checkbox"  ng-repeat="term in wordpress.terms.sector" >
                    <input id="{{term.id}}" type="checkbox" checklist-model="report.sectors" checklist-value="term">
                    <label for="{{term.id}}">{{term.name}}</label>
                  </div>
                  <!-- <label ng-repeat="term in terms.sector" class="checkbox-label">
                    <input type="checkbox" checklist-model="report.sectors" checklist-value="term" ><span>{{term.name}}</span>
                  </label> -->
                  <div>
                    <button ng-click="showList=!showList" class="small">Close</button>
                  </div>
                </div>
              </div>
              <div class="kicker pull-left clearfix" ng-repeat="term in report.sectors">
                <h6 class="">{{term.name}}&nbsp;</h6>
              </div>
              <!-- <h3>{{report.post_title}}</h3> -->
              <input type="text" ng-model="report.post_title" class="h3-input">
              <h6 class="subhead">{{report.date_reported}} by {{report.reporter.name}}</h6>
              <!-- <div>
                <span class="tag" ng-repeat="term in report.categories">{{term.name}} </span>
              </div> -->
              <div class="l-group">
                <div class="six">
                  <select chosen
                          ng-model="report.termselected"
                          data-placeholder="Click to add a tag"
                          ng-options="term.name for term in wordpress.terms.entity"
                          width="'100%'">
                          <option value=""></option>
                  </select>
                </div>
                <span ng-show="tagexists">Report has already been tagged with this entity, please select another entity</span>
              </div>
              <div class="entity-list l-group">
                <span class="tag tag-remove tag-rounded" ng-repeat="term in report.entities" ng-click="removeEntity(term)">
                  {{term.name}} <a href="" title="removetag" ><i class="fa fa-times"></i>&nbsp; </a>
                </span>
              </div>
            </div>
            <div class="three">
              <div id="report-location"></div>
            </div>
        </div>
        
        <div class="row l-group dashboard-content" id="report_content" text-angular ta-toolbar="[['bold','italics','underline'],['ul','ol','quote','insertLink', 'unlink'],['redo','undo']]" ng-model="report.post_content" placeholder="Type your description here"></div><!-- end description -->
        
        <div  class="row l-media-grid l-group" ng-if="report.media.photos.length > 0" >
          <h5 class="header-underline">IMAGES</h5>
          <div class="three media-item" ng-repeat="photo in report.media.photos">
            <a href="" ng-click="viewPhoto(photo)"><img ng-src="{{photo.small}}"></a>
            <button class="btn-delete" ng-click="showChoice = ! showChoice">Remove Image</button>
            <div ng-class="{ 'choice-alive': showChoice }" class="choice-pop">
              <h6>Remove this image?</h6>
              <button ng-click="detachMedia(photo.ID, $event)">Yes</button>
              <button ng-click="showChoice = ! showChoice">No</button>
            </div>
          </div>
        </div><!-- end photos -->
        
        <div  class="row l-media-grid l-group" ng-if="report.media.audio.length > 0">
          <h5 class="header-underline">AUDIO</h5>
          <div class="three media-item" ng-repeat="audio in report.media.audio">
            <div ng-if="audio.uploaded">
              <iframe ng-src="{{trustSrc(audio.soundcloud.embed_url)}}" width="100%"  height="166" scrolling="no" frameborder="no"></iframe>
            </div>
            <div ng-if="!audio.uploaded">
              <div class="media-placeholder media-placeholder-audio">
                <div class="media-placeholder-content">
                  <span class="fa fa-volume-up media-placeholder-icon"></span>
                  Upload to Soundcloud in progress...
                </div>
              </div>
            </div>
            <button class="btn-delete" ng-click="showChoice = ! showChoice">Remove Audio</button>
            <div ng-class="{ 'choice-alive': showChoice }" class="choice-pop">
              <h6>Remove this audio?</h6>
              <button ng-click="detachMedia(audio.ID, $event)">Yes</button>
              <button ng-click="showChoice = ! showChoice">No</button>
            </div>
          </div>
        </div><!-- end audio -->

      <!--   <div class="row l-media-grid l-group" >
          <div class="six media-item">
            <div class="media-placeholder media-placeholder-video">
                <span class="fa fa-video-camera media-placeholder-icon"></span>
                  Upload to Vimeo in progress...
            </div>
          </div>
        </div>
        <div class="row l-media-grid l-group" >
          <div class="three media-item">
            <div class="media-placeholder media-placeholder-audio">
                <span class="fa fa-volume-up media-placeholder-icon"></span>
                  Upload to SoundCloud in progress...
            </div>
          </div>
        </div> -->

        <div class="row l-media-grid l-group" ng-if="report.media.video.length > 0">
          <h5 class="header-underline">VIDEO</h5>
          <div class="six media-item" ng-repeat="video in report.media.video">
            <div ng-if="video.uploaded">
              <iframe
                  ng-src="{{trustSrc(video.vimeo.embed_url)}}"
                  width="500"
                  height="281"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>              
            </div>
            <div ng-if="!video.uploaded">
              <div class="media-placeholder media-placeholder-video">
                <span class="fa fa-video-camera media-placeholder-icon"></span>
                  Upload to Vimeo in progress...
              </div>
            </div>
            <button class="btn-delete" ng-click="showChoice = ! showChoice">Remove Video</button>
            <div ng-class="{ 'choice-alive': showChoice }" class="choice-pop">
              <h6>Remove this video?</h6>
              <button ng-click="detachMedia(video.ID, $event)">Yes</button>
              <button ng-click="showChoice = ! showChoice">No</button>
            </div>
          </div>
        </div><!-- end videos -->
      </div>
    <!-- <div class="embed" ng-show="report.status == 'public'">
      <h5>Embed this report</h5>
      <textarea name="" id="" cols="30" rows="10">{{report.embed_code}}</textarea>
    </div> -->
    <div class="action-bar">
        <div>
          <button ng-class="report.verified ? 'verified' : 'unverified'" class="pull-left" style="margin-right:2em;">
            <span ng-show="!report.verified" ng-click="verifyReport()">Verify this Report</span>
            <span ng-show="report.verified" ng-click="verifyReport()">Unverify this Report</span>
          </button>
          <button href="" ng-click="updateReport()" class="btn-edit pull-left">Save</button>
        </div>
    </div>
    </div>


  </section>
</section>

