      <section class="l-main-unit clearfix filters-hidde">
        <section class="filters l-column">
          <div class="filters-hide">
            <div class="filters-button">
              <span class="icon-tasks"></span>
            </div>
            FILTERS
          </div>
          <div class="filters-alive">
            <h4>Filters</h4>
            <form role="form">
              <div class="form-group">
                  <label for="search" class="">Sector</label>
                  <div>
                    <input type="checkbox" name="option1" value="timber"> Timber<br>
                    <input type="checkbox" name="option1" value="palm"> Palm Oil<br>
                    <input type="checkbox" name="option1" value="palm"> Mining
                  </div>
              </div><!--end Sector-->
              <div class="form-group">
                  <label for="search" class="">Category</label>
                  <div>
                    <input type="checkbox" name="option1" value="timber"> Timber<br>
                    <input type="checkbox" name="option1" value="palm"> Palm Oil<br>
                    <input type="checkbox" name="option1" value="palm"> Mining
                  </div>
              </div><!--end Sector-->
              <div class="form-group">
                <label for="search" >Tags</label>
                <div>
                  <input type="search" class="form-control" id="search" placeholder="Start typing to bring up tags">
                </div>
              </div><!--end Tags-->
              <div class="form-group">
                <label for="search" >Date</label>
                <div>
                  <div class="six">
                    <input type="date" placeholder="Start Date">
                  </div>
                  <div class="six">
                    <input type="date" placeholder="End Date">
                  </div>
                </div>
              </div><!--end Dates-->
            </form>
          </div>
        </section>
        
        <section class="results l-column">
          <!-- <h4>Reports</h4> -->
          <ul class="list">
            <li class="list-item highlight">
              <div class="form-group">
                <div>
                  <input type="search" id="search" placeholder="Search Reports">
                </div>
              </div>
            </li>

            <li class="list-item" ng-repeat="report in reports" ng-click="viewReport(report.ID)">
              <a href="">
                <h5 class="list-title">{{report.post_title}}</h5>
                <p class="list-content">
                  {{report.date_reported}} | by {{report.reporter}}
                </p>
                <div class="horz-list">
                  <span class="icon-camera"></span>     {{ report.media.photo.length}} &nbsp;&nbsp; 
                  <span class="icon-videocam"></span>   {{ report.media.video.length}} &nbsp;&nbsp; 
                  <span class="icon-volume-up"></span>  {{ report.media.audio.length}} &nbsp;&nbsp;
                </div>
              </a>
            </li>
          </ul>
        </section>
        
        <section class="report l-column">
          <div class="row l-group">
            <div class="ten">
              <h3>{{report.post_title}}</h3>
              <h5>{{report.date_reported}} | by {{report.reporter}}</h5>
              <p>Category: <span class="tag" ng-repeat="term in report.categories">{{term.name}} &times;</span></p>
              <p>Sector: <span class="tag" ng-repeat="term in report.sectors">{{term.name}} &times;</span></p>
              <p>Entities:<span class="tag" ng-repeat="term in report.entities">{{term.name}} &times;</span></p>
              <span class="tag">
                <strong>+</strong> Add Entity
              </span>
            </div>
            <div class="two">
              <img src="http://fillmurray.com/g/200/200">
            </div>
          </div><!--- end header group-->
          <div class="row l-group">
            <div class="twelve">{{report.post_content}}</div>
          </div><!-- end text -->
          <div class="row l-media-grid l-group">
            <div ng-if="report.media.photos.length > 0">
              <div class="col-md-3" ng-repeat="photo in report.media.photo">
                <a href="#" class="thumbnail">
                  <img ng-src="{{photo.guid}}">
                </a>
              </div>
            </div>

            <div ng-if="report.media.audio.length > 0">
              <div class="col-md-3" ng-repeat="audio in report.media.audio">
                <iframe ng-src="{{trustSrc(audio.soundcloud.embed_url)}}" width="100%"  height="166" scrolling="no" frameborder="no"></iframe>
              </div>
            </div>

      
            <div  class="row l-media-grid l-group" ng-if="report.media.photos.length > 0">
              <div class="three" ng-repeat="photo in report.media.photo">
                <a href="#" class="thumbnail">
                  <img ng-src="{{photo.guid}}">
                </a>
              </div>
            </div>
          
          
            <div  class="row l-media-grid l-group" ng-if="report.media.audio.length > 0">
              <div class="three" ng-repeat="audio in report.media.audio">
                <iframe ng-src="{{trustSrc(audio.soundcloud.embed_url)}}" width="100%"  height="166" scrolling="no" frameborder="no"></iframe>
              </div>
            </div>
            
           <div class="row l-media-grid l-group" ng-if="report.media.video.length > 0">
              <div class="six" ng-repeat="video in report.media.video">
                <iframe 
                    ng-src="{{trustSrc(video.vimeo.embed_url)}}" 
                    width="500" 
                    height="281" 
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                </iframe> 
              </div>
          </div>
          <!-- end media -->
          
          <div class="row">
            <div class="twelve">
              <button href="">Save</button> 
            </div>
          </div>
        </section>
      </section>

