<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left">
      <h3>Timby</h3>
    </div>
    <div class="pull-right" ng-controller="LoginController">
      <button ng-click="logout()">Logout</button>
    </div>
  </div>
  <nav class="tabs">
    <li class="tab-item"><a href="#/dashboard">Moderation</a></li>
    <li class="tab-item active"><a href="#/stories">Stories</a></li>
    <li class="tab-item"><a href="#/addreport">Add Report</a></li>
  </nav>
</header>
<section class="l-normal-page l-fixed-footer l-story-creator l-padding-item">
  <div class="row-small story">
    <div class="l-group">
      <h2 ng-show="working">Loading...</h2>
      <a href="#/stories" class="btn btn-small">
        <span class="fa fa-angle-left"></span> Back to Story List
      </a>
    </div>
    <div class="header-group l-group">
      <input type="text" ng-model="story.title" class="h3-input" placeholder="Story title goes here">
      <input type="text" class="subhead h4-input" ng-model="story.sub_title" placeholder="Story subtitle goes here"/>
    </div>


    
    <div class="content-blocks" ng-repeat="content in story.content">
      <div ng-if="content.type == 'editor'">
        <div class="l-group">
          <div class="text-editor text-editor-lined text-editor-height" id="report_content" text-angular placeholder="{{placeholderText}}" ta-toolbar="[['bold','italics','underline'],['ul','ol','quote','insertLink', 'unlink'],['redo','undo']]" ng-click="placeholder()" ng-model="content.text" ></div><!-- end description -->
          <a href="" ng-click="removeContentBlock($index, $event)">remove this content block</a>
        </div>          
      </div>

      <div ng-if="content.type == 'report'">
        <div class="l-group ">
          <div class="report-thumb">
            <div class="seven report-thumb-info">
              <h6 class="list-title">{{content.report.post_title}}</h6>
              <p class="list-content text-muted">
                {{content.report.date_reported}} by {{content.report.reporter.name}}
              </p>
              <div class="horz-list text-muted">
                <i class="fa fa-camera"></i>        {{content.report.media.photos.length}}
                <i class="fa fa-video-camera"></i>  {{content.report.media.video.length}}
                <i class="fa fa-volume-up"></i>     {{content.report.media.audio.length}}
              </div>
            </div>
            <div class="five report-thumb-map">
              <google-map 
                center="{latitude: content.report.lat,longitude: content.report.lng}" 
                zoom="8"
                draggable="true"
                >
                <marker coords="{latitude: content.report.lat,longitude: content.report.lng}"></marker>
              </google-map>
            </div>
            <button ng-click="removeContentBlock($index, $event)" class="btn-delete">Remove Report</button>
          </div>
        </div>
      </div>

    </div>

    <div class="l-group">
      <button ng-click="addContentEditor($event)">Add content area</button>
      <input type="text" placeholder="Search here to add a report" ng-model="search">
      <ul class="reports" ng-show="results.length > 0">
        <li ng-repeat="report in (results = (reports | searchVerifiedReportsFilter:search))">
          <h4>{{report.post_title}}</h4>

          <p class="list-content text-muted">
            {{report.date_reported}} by {{report.reporter.name}}
          </p>
          <a href="" ng-click="addReportToStory(report.ID, $event)">Add to report</a>
        </li>
      </ul>
    </div> 
    
  </div>
  <div class="action-bar action-bar-full-page">
    <div class="row">
      <input type="submit" ng-click="save()" value="Save Story" class="btn btn-edit pull-right">
      <input type="submit" ng-click="publish()" value="Publish Story" class="btn btn-edit pull-right">
    </div>
  </div>
</section>
