<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left">
      <h3>Timby</h3>
    </div>
    <div class="pull-right" ng-controller="LoginController">
      <button ng-click="logout()">Logout</button>
    </div>
  </div>
  <nav class="tabs">
    <li class="tab-item"><a href="#/dashboard">Moderation</a></li>
    <li class="tab-item active"><a href="#/story">Stories</a></li>
    <li class="tab-item"><a href="#/addreport">Add Report</a></li>
  </nav>
</header>
<section class="l-main-unit clearfix l-padding-item">
  <div class="row">
    <div class="header-group l-group">
      <a href="#/story">Back to Story List</a>
      <h2>
        Create a Story
      </h2>
    </div>
  </div>
  <div class="action-bar action-bar-full-page">
    <div class="row">
      <input type="submit" value="Save Story" class="btn btn-edit">
      <input type="submit" value="Publish Story" class="btn btn-edit">
    </div>
  </div>
</section>