<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left">
      <h3>Timby</h3>
    </div>
    <div class="pull-right" ng-controller="LoginController">
      <button ng-click="logout()">Logout</button>
    </div>
  </div>
  <nav class="tabs">
    <li class="tab-item"><a href="#/dashboard">Moderation</a></li>
    <li class="tab-item active"><a href="#/stories">Stories</a></li>
    <li class="tab-item"><a href="#/addreport">Add Report</a></li>
  </nav>
</header>
<section class="l-main-unit clearfix ">
  <div class="row l-padding-item">
    <div class="header-group l-group ">
      <div class="ten">
        <h2>
          Stories <span class="tag tag-circle">12</span>
        </h2>
      </div>
      <div class="two">
        <a href="#/story/create" class="btn btn-edit">Add New Story</a>
      </div>
    </div>
    <div class="row">
      <a ng-href="#/story/edit/{{story.id}}" class="four grid-item grid-item-simple" ng-repeat="story in stories">
        <div class="grid-item-top">
          <!-- <span class="tag tag-small tag-edit">Published</span> -->
          <h4>{{story.title}}</h4>
          <h6 class="subhead">{{story.created}}</h6>
          <p>{{story.sub_title}}</p>
        </div>
        <div class="grid-item-bottom">
          <button class="btn-small btn-simple">Edit this story</button>
        </div>
      </a>
    </div>
  </div>
</section>