<!-- @todo: move this header to its own directive -->
<header class="clearfix main-header">
  <div class="clearfix">
    <div class="pull-left logo">
      <img src="{{baseURL}}/images/logo.png">
    </div>
    <nav class="menu-right pull-right">
      <li class="menu-item"><a href="#/dashboard">List</a></li>
      <li class="menu-item"><a href="#/dashboard/map">Map</a></li>
      <li class="menu-item active"><a href="#/stories">Stories</a></li>
      <li class="menu-item"><a href="#/addreport">Add Report</a></li>
      <li class="menu-item">
        <div ng-click="showOptions=!showOptions" class="menu-item-container">
          <span class="fa fa-user"></span>
          &nbsp;&nbsp;Name&nbsp;&nbsp;
          <span class="fa fa-caret-down"></span>
        </div>
        <div class="dropdown-menu clearfix" ng-show="showOptions" ng-controller="LoginController">
          <button class="btn btn-simple" ng-controller="LoginController" ng-click="logout()">
            Logout
          </button>
        </div>
      </li>
    </nav>
    <!-- <div class="pull-right" ng-controller="LoginController">
      <button ng-controller="LoginController" ng-click="logout()">Logout</button>
    </div> -->
  </div>
  
</header>
<section class="l-normal-page l-fixed-footer l-story-creator l-padding-item">
  <div class="row-small story">
    <div class="l-group">
      <div class="page-loader page-loader-list" ng-show="working">
        <div class="page-loader-message">
        <div class="loader"></div>
        <h4>Working</h4></div>
      </div>
      <a href="#/stories" class="btn btn-small">
        <span class="fa fa-angle-left"></span> Back to Story List
      </a>
    </div>
    <div class="header-group l-group">
      <input type="text" ng-model="story.title" class="h3-input" placeholder="Story title goes here">
      <input type="text" class="subhead h4-input" ng-model="story.sub_title" placeholder="Story subtitle goes here"/>
    </div>


    
    <div class="content-blocks l-group" ng-repeat="content in story.content">
      
      <div ng-if="content.type == 'editor'">
        <div class="l-group">
          <div class="text-editor text-editor-lined text-editor-height" id="report_content" text-angular placeholder="{{placeholderText}}" ta-toolbar="[['bold','italics','underline'],['ul','ol','quote','insertLink', 'unlink'],['redo','undo']]" ng-click="placeholder()" ng-model="content.text" ></div><!-- end description -->
          <button class="btn btn-delete btn-full-width btn-outline" href="" ng-click="removeContentBlock($index, $event)">Remove Block</a>
        </div>          
      </div>

      <div ng-if="content.type == 'report'">
        <div class="l-group ">
          <div class="report-thumb">
            <header>
              TIMBY REPORT
            </header>
            <div class="report-thumb-content">
              <div class="twelve report-thumb-info">
                <h6 class="list-title">{{content.report.post_title}}</h6>
                <div class="list-content">
                  <span class="list-details text-muted">{{content.report.date_reported}} by {{content.report.reporter.name}}</span>
                  <div class="list-content-description" ng-bind-html='report.post_content' ng-class="{ 'is-full': showMore }" ng-if="report.post_content.length > 0"></div>
                  <div ng-if="report.post_content.length > 0">
                    <button ng-click="showMore=!showMore" ng-show="!showMore" class="btn-small">Read More</button>
                    <button ng-click="showMore=!showMore" ng-show="showMore" class="btn-small">Read Less</button>
                  </div>
                </div>
              </div>
              <div class="report-thumb-media">
                <div class="three report-thumb-map">
                  <google-map 
                    center="{latitude: content.report.lat,longitude: content.report.lng}" 
                    zoom="8"
                    draggable="true"
                    >
                    <marker coords="{latitude: content.report.lat,longitude: content.report.lng}"></marker>
                  </google-map>
                </div>
                <div class="three" ng-repeat="photo in content.report.media.photos">
                  <a href="" ng-click="viewPhoto(photo)"><img ng-src="{{photo.small}}"></a>
                </div>
                <div class="three" ng-repeat="audio in content.report.media.audio">
                  <iframe ng-src="{{trustSrc(audio.soundcloud.embed_url)}}" width="100%"  height="120" scrolling="no" frameborder="no"></iframe>
                </div>
                <div class="three" ng-repeat="video in content.report.media.video">
                  <a href="" ng-click="viewVideo(video)">
                    <img ng-show="video.vimeo.thumbnails" src="{{video.vimeo.thumbnails.medium}}" alt="">
                    <span ng-show="!video.vimeo.thumbnails" class="fa fa-play-circle"></span>
                  </a>
                </div>
              </div>
            </div>
            <footer>
              <button class="btn-small" ng-click="showEmbed=!showEmbed">Embed</button>
              <a class="btn-small" ng-show="content.report.status == 'public'" href="{{content.report.download_link}}">Download</a>
              <div class="embed" ng-show="showEmbed">
                <h5>Embed this report</h5>
                <textarea name="" id="" style="width:100%; height:100px;" >{{content.report.embed_code}}</textarea>
              </div>
            </footer>
          </div>
          <button ng-click="removeContentBlock($index, $event)" class="btn-delete btn-full-width btn-outline">Remove Report</button>
        </div>
      </div>

    </div>

    <div class="l-group">
      <div class="three">
        <button ng-click="addContentEditor($event)">Add content area</button>
      </div>
      <div class="nine">
        <input type="text" placeholder="Search here to add a report" ng-model="search">
        <ul class="reports dropdown-menu" ng-show="results.length > 0">
          <li class="list-item" ng-repeat="report in (results = (reports | searchVerifiedReportsFilter:search))" ng-click="addReportToStory(report.ID, $event)">
            <h6 class="list-title">{{report.post_title}}</h6>

            <p class="list-content text-muted">
              {{report.date_reported}} by {{report.reporter.name}}
            </p>
          </li>
        </ul>
      </div>
    </div> 
    
  </div>
  <div class="action-bar action-bar-full-page">
    <div class="row">
      <input type="submit" ng-click="save()" value="Save Story" class="btn btn-edit pull-right">
      <input type="submit" ng-click="publish()" value="Publish Story" class="btn btn-edit pull-left">
    </div>
  </div>
</section>
