.watercolor
  margin-top: 3em
.watercolor-sprite
  background: url('../images/watercolors.jpg')

.watercolor-tractor
  height: 288px
  width: 399px
  background-position: -277px 0

.watercolor-rice
  height: 387px
  width: 320px
  background-position: -676px 0
  margin: -26px 0 0 -55px

.watercolor-tree
  height: 314px
  width: 277px
  background-position: 0 0
  margin: -50px 45px