//BASE STYLES
//INCLUDES TYPEPLATE

body, html
  // position: relative
  // height: 100%

.l-column
  float: left
  @include box-sizing(border-box)
  // min-height: 1px
  // position: relative
  // min-height: 100%

//major columns
.filters
  width: 220px
  padding: 1.5em
  height: 100%
.results
  width: 330px
  border-left: 1px $med-gray solid
  overflow-y: auto
  height: 100%
  // padding-top: 1em
.report
  position: absolute
  left: 550px
  right: 0
  border-left: 1px $med-gray solid
  // padding: 1.5em
  overflow-y: auto
  height: 100%
  padding-bottom: 5em

//major container on moderation
.l-main-unit
  position: absolute
  top: 113px
  bottom: 0
  overflow: hidden
  @include fill-parent
  z-index: 2

.l-normal-page
  position: relative
  top: 113px
  z-index: 2

.l-fixed-footer
  padding-bottom: 5em
  &.l-padding-item
    padding-bottom: 7em



//media grid to fill in responsive grid with images, etc
.l-media-grid
  @include fill-parent

.l-group
  margin-bottom: 1.5em
  &:last-of-type
    margin-bottom: 0
  @include clearfix

.l-group > p:only-child
  margin-bottom: 1em !important

// p:last-of-type
//   margin-bottom: 0

//talk advantage of bourbon outer-container
.l-container
  @include outer-container
  position: relative

.l-padding-item
  padding: 1.5em