# WORDPRESS CORE IGNORE

# Ignore everything in the root except the readme.md, gitignore and the "wp-content" directory.
/*
!.readme.md
!.install.sh
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" "themes" and the uploads folder
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/

# Ignore everything in the "plugins" directory, except the
# json-api plugin
wp-content/plugins/*
!wp-content/plugins/json-api
!wp-content/plugins/google-analyticator
!wp-content/plugins/aryo-activity-log


# Ignore everything in the "themes" directory, except the timbyweb theme
wp-content/themes/*
!wp-content/themes/timby/
