.dropdown-menu
  position: absolute
  background: white
  z-index: 4
  border: 1px solid $med-gray
  padding: 1em
  list-style: none

.glyphicon
  display: inline-block
  font-family: FontAwesome !important
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing

.glyphicon-chevron-right:before
  content: "\f061"

.glyphicon-chevron-left:before
  content: "\f060"

th .btn
  border: none