input[type="text"], input[type="search"], input[type="date"]
  box-shadow: none
  border: 1px solid $med-gray
  padding: .5em
  border-radius: 2px
  @include fill-parent
  @include box-sizing(border-box)
