input[type="text"], input[type="search"], input[type="date"], input[type="password"]
  box-shadow: none
  border: 1px solid $med-gray
  padding: .5em
  border-radius: 2px
  @include box-sizing(border-box)

.filters
  input[type="text"], input[type="search"], input[type="date"], input[type="password"]
    @include fill-parent