.list
  margin: 0
  padding: 0
  list-style: none
.list-item
  padding: 1em
  border-bottom: 1px solid $med-gray
  position: relative
  &:hover, &.highlight
    background: $light-gray
  > .form-group
    margin-bottom: 0
.list-title
  margin-bottom: 2px
.list-content
  margin-bottom: 0px
  color: $med-gray

.list-item.is-verified
  border-left: 6px solid $black