.report-thumb
  border: 1px solid $med-gray
  @include clearfix
  footer
    background: $light-gray
    padding: .5em
  header
    background: $dark-gray
    color: white
    padding: .5em

.report-thumb-info, .report-thumb-media
  padding: 1em
.report-thumb-map
  .angular-google-map-container
    height: 120px
.report-thumb-media
  @include clearfix
  .three
    min-height: 120px
    margin-bottom: 1em
