.verified-triangle
  @include triangle(14px, $black, up-right)
  position: absolute
  top: 0
  right: 0

header
  background: #333
  padding: 1em
  h3
    color: white !important
.tabs
  background: #333

.pull-left
  float: left
.pull-right
  float: right